<div class="align-center">
  <mat-card>
    <mat-card-content>
      @if (exam.id == null) {
      <mat-label>
        <p>Création</p>
      </mat-label>
      } @else {
      <mat-label>
        <p>Modification</p>
      </mat-label>
      }

      <form class="example-form" [formGroup]="classeFormGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Type d'examen</mat-label>
          <input name="type" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="exam.type"
            [formControl]="nomCtrlForm">
          @if (exam.type) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="exam.type=''">
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Date</mat-label>
          <input name="nom" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="exam.date"
                 [formControl]="nomCtrlForm">
          @if (exam.date) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="exam.date=''">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Coeeficient</mat-label>
          <input name="nom" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="exam.coefficient"
                 [formControl]="nomCtrlForm">
          @if (exam.coefficient) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="exam.coefficient=0">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre de parties</mat-label>
          <input name="nom" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="exam.numberPart"
                 [formControl]="nomCtrlForm">
          @if (exam.numberPart) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="exam.numberPart=0">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Note</mat-label>
          <input name="nom" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="exam.points"
                 [formControl]="nomCtrlForm">
          @if (exam.points) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="exam.points=0">
              <mat-icon>close</mat-icon>
            </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Classe</mat-label>
          <mat-select name="classSelect" [(ngModel)]="exam.idClass" [ngModelOptions]="{standalone: true}">
            <mat-option [value]=""></mat-option>
            @for (classe of classeList; track classe) {
              <mat-option [value]="classe.id">{{classe.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Matiere</mat-label>
          <mat-select name="classSelect" [(ngModel)]="exam.idSubject" [ngModelOptions]="{standalone: true}">
            <mat-option [value]=""></mat-option>
            @for (matiere of matiereList; track matiere) {
              <mat-option [value]="matiere.id">{{matiere.subject}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
        <mat-label>Etudiant</mat-label>
        <mat-select name="classSelect" [(ngModel)]="exam.idStudent" [ngModelOptions]="{standalone: true}">
          <mat-option [value]=""></mat-option>
          @for (etudiant of etudiantsList; track etudiant) {
            <mat-option [value]="etudiant.id">{{etudiant.lastName+ " " + etudiant.firstName}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

        <mat-card-actions class="example-full-width align-center">
          <button mat-fab extended color="primary" (click)="enregistrer()">
            Enregister
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
