@import "../../tokens.scss";

.login-page_1-6 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  background: $background-gradiant-background;
  width: 1440px;
  height: 1024px;
}
.group-1_10-46 {
  top: 126px;
  left: 445px;
  position: absolute;
  display: flex;
  width: 551px;
  height: 752px;
}
.rectangle-10_8-2 {
  display: flex;
}

.go-_11-13 {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 68px;
  box-shadow: 0px 10px 24px 0px #1616163f;
}
.rectangle-11_11-14 {
  top: 0px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-sign-in_11-15 {
  top: 25px;
  left: 134px;
  position: absolute;
  display: flex;
  color: $background-color;
  font-size: 17px;
  font-family: Work Sans;
  letter-spacing: -1.6%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 92px;
  height: 19px;
}

.keep-logged_16-4 {
  position: relative;
  width: 130px;
  height: 25px;
}

.password_10-39 {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 68px;
  box-shadow: 0px 10px 24px 0px #1616163f;
}
.rectangle-11_10-40 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-password_10-41 {
  top: 24px;
  left: 30px;
  position: absolute;
  display: flex;
  color: $text-color;
  font-size: 17px;
  font-family: Work Sans;
  letter-spacing: -1.6%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 78px;
  height: 17px;
}

.lock_67-6 {
  top: 16px;
  left: 289px;
  position: absolute;
  display: flex;
  display: flex;
}

.email_48-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  width: 360px;
  box-shadow: 0px 10px 24px 0px #1616163f;
}
.rectangle-11_48-18 {
  display: flex;
}

.text-e-mail_48-19 {
  top: 23px;
  left: 37px;
  position: absolute;
  display: flex;
  color: $text-color;
  font-size: 17px;
  font-family: Work Sans;
  letter-spacing: -1.6%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 67px;
  height: 25px;
}

.letter_67-7 {
  top: 16px;
  left: 279px;
  position: absolute;
  display: flex;
  display: flex;
}

.login_16-6 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 424px;
  height: 168px;
  box-shadow: 0px 10px 24px 0px #1616163f;
}
.text-login_8-8 {
  top: -21px;
  left: 122px;
  position: absolute;
  display: flex;
  color: $text-color;
  font-size: 70px;
  font-family: Work Sans;
  letter-spacing: -1.6%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 180px;
  height: 105px;
}

.text-log-to-your-account_46-7 {
  top: 69px;
  left: 125px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 17px;
  font-family: Work Sans;
  letter-spacing: -1.6%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 177px;
  height: 31px;
}
