<div class="align-center">
  <mat-card>
    <mat-card-content>
      @if (matiere.id == null) {
      <mat-label>
        <p>Création</p>
      </mat-label>
      } @else {
      <mat-label>
        <p>Modification</p>
      </mat-label>
      }

      <form class="example-form" [formGroup]="matiereFormGroup">
        <mat-form-field class="example-full-width">
          <mat-label>Nom de matiere</mat-label>
          <input name="nom" matInput type="text" placeholder="Ex. Classe STS" [(ngModel)]="matiere.subject"
            [formControl]="nomCtrlForm">
          @if (matiere.subject) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="matiere.subject=''">
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-error>{{getMessageErreur(nomCtrlForm)}}</mat-error>
        </mat-form-field>
        <mat-card-actions class="example-full-width align-center">
          <button mat-fab extended color="primary" (click)="enregistrer()">
            Enregister
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
